<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::.mright})}">
	
	<head>
	</head>

	<body>
	            
<div class="mright">
     



    <form>
         <div class="mrighthead">Add City</div>

            <div class="curow">
              <div class="culabel">City</div>
              <div class="cuinfo">
                <input type="text" id="cityid" class="input">
              </div>
            </div>

          
           <div class="curow">
               <button id="submit" class="sub">Submit</button>
           </div>
         </form>



            </div><!--mright-->
     
	</body>
</html>