<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::.mright})}">
	
	<head>
	</head>

	<body>
	            
            <div class="mright">
     




<form>
  <div class="mrighthead">View Property</div>
    <div class="table-box">
        
            <!--<label ID="record" class="empty" ></label>-->
        
            <div class="row" id="head">
              <div class="col delbtn"><button ID="delete">Delete</button></div>
               <div class="col">S.No</div>
              <div class="col w200">Owner Name</div>
              <div class="col w200">Image</div>
              <div class="col w200">Requirement Type</div>
              <div class="col w299">Property Type</div>
              <div class="col w299">Sub Property Type</div>
              <div class="col w200">City</div>
              <div class="col w299">Locality</div>
              <div class="col w299">Address</div>              
              <div class="col w299">Posting Date</div>              
              <div class="col w299">Area(sqft)</div> 
              <div class="col w299">Rate/sqft</div>               
              <div class="col w299">Price</div>             
              <div class="col w299">Description</div> 
              <div class="col" style="position:absolute;left:50.35%;width:280px;">Status</div>             
              <div class="col action">Action</div> 
            </div><!--row-->
              
            <div class="row">
              <div class="col delbtn"><input type="checkbox" id="alldel" value=''/></div>
               <div class="col">1</div>
               
              <div class="col w200">Div</div>
              <div class="col w200"><img src="../images/p1.jpg" width="50px" height="50px" /></div>
              <div class="col w200">Flat</div>
              <div class="col w299">nothing</div>
              <div class="col w299">asjd</div>
              <div class="col w200">asd</div>              
              <div class="col w299">asd</div>
              <div class="col w299">asd</div>
              <div class="col w299">asd</div>
              <div class="col w299">ad</div>
              <div class="col w299">asd</div>
              <div class="col w299"><span id="pr">1000</span> <span style="font-size:18px;color:#f30;"  id="rs">Rs</span></div>
              <div class="col w299">asdsd</div>
              <div class="col" style="position:absolute;left:50.35%;width:280px;">
                 <input type="hidden" Value='10'  />
              
                 <select ID="slist" class="input1">
                   <option>Pending</option>                   
                   <option>Approved</option>
                 </select>
                 <!--<asp:Button ID="slistedit" runat="server" Text="Edit" Visible="False" onclick="slistedit_Click"/>-->
              </div>
              <div class="col action" style="padding-left:50px;">
                <button ID="del" class="btn delback">Delete</button> 
                    
              </div> 
            </div><!--row-->
          
    </div>

</form>



            </div><!--mright-->
     
	</body>
</html>